#nav-content {
    max-width: 1200px;
    padding: 0px 30px;
}

#page-content {
    margin-top: 55px;
    padding-top: 15px;
    background-color: #ddd;
    height: 100%;
}

#wrapper {
    background-color: transparent;
    max-width: 1200px;
}

#snippet-container, #snippet-list-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#snippet-frame {
    max-height: 380px;
    font-size: 10px;
    border-top: solid #bbb 1px;
    border-bottom: solid #bbb 1px;
    box-shadow: 3px 3px 8px #bbbbbb;
}

.card-block {
    padding: 10px 20px;
}