/*
    Nav bar styles
*/

#nav-content {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 0px 30px;
}

#nav-content .navbar-nav button {
    margin-left: 10px;
    box-shadow: 2px 2px 6px #000;
}

#logo {
    margin-top: -7px;
}

#recoverPasswordHidden, #registerUserHidden {
    display: none;
}

.navbar-brand {
    text-shadow: 2px 2px 6px #000;
}

.username-display {
    color: #ffffff;
    padding-top: 7px;
}

/*
    Page content styles
*/

#page-content-wrapper {
    background-color: transparent;
    max-width: 1200px;
    padding-top: 59px;
    height: 100%;
}

#page-content {
    /*margin-top: 55px;*/
    padding-top: 15px;
    background-color: #ddd;
    height: 100%;
}

#alert {
    border-radius: 0px;
    margin-top: -15px;
}

#snippet-container, #snippet-list-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#snippet-frame {
    max-height: 500px;
    border-top: solid #bbb 1px;
    border-bottom: solid #bbb 1px;
    box-shadow: 4px 4px 8px #444;
    padding: 5px;
}

/*
    Modal styles
*/

.modal h6 {
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    margin: -5px 0px 10px 5px;
}

.modal form label {
    margin-bottom: 2px;    
}

.modal form input {
    margin-bottom: 5px;
}